body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text {
    color: #808080;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
